---
description: This page describes the verification system incorporated in Wick
---

# Verification

Agent includes an easy to setup but advanced system to verify that you are here for the right uses. It helps insure that you are a real user not a scripted user. Its set so everyone entering your server has to pass through it.\


To enable/disable the join gate use `a!joingate enable` or `a!joingate disable`\


To set your verify channel use the command `a!makeverify #channel`

![](<../.gitbook/assets/image (1).png>)



If setup correctly the bot will send a menu looking like this to that channel.

![](<../.gitbook/assets/image (3).png>)



