---
description: This page describes the verification system incorporated in Wick
---

# Verification

Agent includes an easy to setup but advanced system to verify that you are here for the right uses. It helps insure that you are a real user not a scripted user. Its set so everyone entering your server has to pass through it.
