---
description: This page describes the verification system incorporated in Wick
---

# Verification



Raiding is a common occurrence on discord and it has led to some quick temporary solutions such as kicking new accounts joining the server. This may lead to temporary relief but it also leads to a loss of genuine new members as well. Even discord advises against such methodologies.

![A snippet from a message sent by SYSTEM's Public Server Updates](broken-reference)

Wick comes with an advanced verification system that scales with growing servers, targets any user desired for any duration set by the admins. It eliminates scripts without harming genuine users and without causing false positives.

![](broken-reference)

![](broken-reference)

The verification system comes with options that can be customized according to the desires of the server admins.

![](broken-reference)

It can be set up to target everyone or suspicious accounts only. The verification duration can be set and any bots joining can be quarantined as well.

![](broken-reference)

Each and every setting can be personalized. As for the values, the verification system scales to the user's input settings.

![](broken-reference)

{% hint style="info" %}
You should use the verification system if you want to eliminate raid accounts and allow genuine ones in!
{% endhint %}
